# Dependency directories
node_modules/
bower_components/

# Build directories
dist/
build/

# Logs
logs/
*.log

# Operating System files
.DS_Store        # macOS
Thumbs.db       # Windows

# IDE/Editor settings
.vscode/
.idea/
*.iml

# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.egg-info/

# Java specific
*.class
*.jar
*.war
*.ear

# C/C++ specific
*.o
*.exe
*.out
*.a

# Temporary files
tmp/
temp/
*.tmp

# Environment variable files
.env

# Coverage reports
coverage/
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other common exclusions
*.bak
*.swp
*~
