name: ✍️ Proselint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  proselint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1
      - name: Set up Python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: '3.8'
      - name: Install Proselint
        run: |
          pip install proselint
      - name: Run Proselint
        run: |
          proselint --config=".github/linters/proselint_config.json" ./**/*.md
